/* Introduce web application colour palette */
:root {
    --light0: #ffffff;
    --light1: #8bc5bb;
    --dark0: #121212;
    --dark1: #282828;
    --dark2: #3f3f3f;
    
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--light1);
    align-items: center;
    color: var(--dark0);
    }

#navbar ul, #navbar div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}


#back {
    padding: 0.5rem;
}

#light-mode {
    background-color: inherit;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}

main {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    flex-grow: 1;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    font-size: 3rem;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 50%;
    margin: 1rem;
    background-image: linear-gradient(var(--light1), var(--light0));
    color: var(--dark1);
    box-shadow:  5px 5px 5px var(--light1);
}

footer {
    padding: 0.5rem;
    background-color: var(--light1);
    text-align: center;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form h2 {
    font-size: 2rem;
    text-align: center;
}

form * {
    margin: 0.3rem;
    font-size: 1.25em;
}

label {
    font-weight: bolder;
}

input {
    padding: 0.3rem;
}

textarea {
    padding: 0.3rem;
    resize: vertical;
}

#blog {
    font-size: 1.25em;
    flex-grow: 1;
}

#blog div {
    border: var(--dark2) 0.1rem solid;
    margin: 1rem;
    padding: 1rem;
}

span {
    font-style: italic;
}


.dark #navbar, .dark footer {
    background-color: var(--dark2);
}

.dark h2, .dark a {
    color: var(--light1);
}

.dark a:hover {
    color: var(--light0);
}

.dark main {
    background-color: var(--dark0);
}

.dark p, .dark span, .dark label {
    color: var(--light0);
}

.dark input, .dark textarea {
    background-color: var(--dark2);
    color: var(--light0);
}

.dark #blog div {
    background-color: var(--dark1);
}

/* Use media query so when the page changes to a size larger than mobile, the following css blocks execute */
@media screen and (min-width: 768px) {
    /* make nav bar flow as a row instead of column */
    #navbar {
        flex-direction: row;
    }

    /* make links flow as a row and add a gap */
    #navbar ul {
        flex-direction: row;
        gap: 2em;
        margin: 1em;
    }

    /* push nav bar to the left side of the screen whilst keeping the light mode button on the right */
    #navbar div {
        flex-direction: row;
        margin-left: auto;

    }

    /* make each section flow as a row instead of a column */
    main {
        flex-direction: row;
        align-items: center;
    }
}
